

.xfce4-panel {
	border-radius: 15px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	font-size: 13px;
	color: black;

}

#pager-1 button { 
	color: #57B2A7;
	font-size: 20px;
 }
#pager-1 button:checked { 
	color: #D9DA2A; 
	font-size:20px}


window.thunar paned > scrolledwindow treeview.view:selected {
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
background: linear-gradient(to right, #4A9090, #82ABAB);
-gtk-secondary-caret-color: #215d9c;
}

